.cv-form-section-heading {
    font-size: 22px;
    font-family: "Airbnb Cereal App Bold", "Gilroy", sans-serif;
  }
.cv-form-section-heading {
  font-size: 22px;
  font-family: "Airbnb Cereal App Bold", "Gilroy", sans-serif;
  margin-bottom: 7px;
}
.cv-form-section-description {
    font-size: 14px;
    font-family: "Airbnb Cereal App Light", "Gilroy", sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
    color: #98a1b3;
}
