.backdrop {
    width: 50%;
    height: 100%;
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    transition: transform .1s ease-out;
}
@media screen and (max-width: 966px) {
    .backdrop {
        width: 100%;
    }
}